body {
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: default;
	margin: 0;
}

.box-middle {
	width: 75%;
	min-width: 256px;
	max-width: 540px;
	padding: 12px;
	border: 2px #777 solid;
	margin: 16px auto;
	border-radius: 2px;
}

.big-text {
	color: red;
	font-size: 36px;
	font-weight: bold;
}

hr {
	border: 1px solid;
}

a {
	text-decoration: none;
}
